#Contact-Form {
  padding-left: 10%;
  padding-right: 10%;
}

#Contact-Form #Button {
  background:  #FBA858;
  border-style: none;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}

#Contact-Form #Button:hover {
  color: #B1AEAE;
  background: #FBB776;
}