#Contact-Form .Card-Body {
  background: #58C4b8;
  border-radius: 4px;
  padding: 10px 20px 50px;
}

#Contact-Form {
  padding-left: 15%;
  padding-right: 15%;
}

#Contact-Form input:focus, #Message:focus {
  border:1px solid #000000;
  box-shadow: 0 0 5px #000000;
}

#Contact-Form #Button {
  background:  #FBA858;
  border-style: none;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}

#Contact-Form #Button:hover {
  color: #B1AEAE;
  background: #FBB776;
}

#Contact-Form #Button:focus {
  box-shadow: 0 0 10px #FBA858;
}