#Contact-Form {
  padding-left: 15%;
  padding-right: 15%;
}

#Contact-Form input, #Message {
  border:1px solid #B1AEAE;
}

#Contact-Form input:focus, #Message:focus {
  border:1px solid #FBA858;
  box-shadow: 0 0 10px #FBA858;
}

#Contact-Form #Button {
  background:  #FBA858;
  border-style: none;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}

#Contact-Form #Button:hover {
  color: #B1AEAE;
  background: #FBB776;
}