#Laugh-Marvel-Dream {
  padding-left: 10%;
  padding-right: 10%;
}

#Laugh-Marvel-Dream h4 {
  font-family: Amatic SC, Helvetica, sans-serif;
  font-size: 2.2em;
}

#Laugh-Marvel-Dream p {
  text-align: justify;
}