#Price-Table {
  padding-left: 10%;
  padding-right: 10%;
}

#Price-Table th {
  color: #ffffff;
  background-color: #fba858;
}

#Price-Table td {
  color: #ffffff;
  background-color: #58c4b8;
}

#Price-Table thead th {
  border-bottom: none;
}

#Price-Table table,
th,
td {
  border-radius: 4px;
  border-collapse: separate;
  empty-cells: hide;
}